body {
    font-family: 'Times New Roman', Times, serif;
    background-color: palevioletred;
    margin: 10px;
    padding: 10px;
}
h1 {
    text-align: left;
}
.logo {
    width: 60px;
    height: 60px;
}
header {
    background-image: url(../images/logo.png.png);
    background-repeat: repeat-x;
    height: 100px;
    background-position: center;
    color: bisque;
    padding-top: 20px;
    border: 2px solid;
}
nav {
    text-align: center;
    padding: 10px;
}
nav a {
    padding: 10px 15px;
    margin: 10px;
    font-size: 25px;
    border: 2px solid black;
}
nav ul{
    justify-content: center;
    display: flex;
    padding: 10px;
    list-style-type: none;
}
nav ul li{
    margin: 5px;
}
nav ul li a{
    color: darkmagenta;
    text-decoration: none;
    padding: 15px;
    border-radius: 30px;
    font-size: 150%;
}
nav ul li a:hover {
    background-color: black;
}
main {
    padding: 20px;
    gap: 20px;
}
#content {
    text-align: center;
    padding: 50px;
}
#content h1 {
    margin-top: 5px;
    text-align: center;
}   
.spaghetti {
    border: 2px solid black;
    height: 500px;
}
.table {
    text-align: right;
    border-collapse: collapse;
    width: 100px;
    height: 100px;
    float: right
}
th, td {
    padding: 10px;
    margin: 100px;
    text-align: right;
    border: 2px solid dark;

}
h2 {
    text-align: left;
}
iframe {
    border: 2px solid black;
    float: left;
}



footer {
    text-align: center;
    background: purple;
    color: white;
    padding: 15px;
    margin-top: 1000px;
}

